body{
    background-color:#F4E285;
}

.btn{
    background-color: #33B56A;
    border-color: #33B56A;
}


#navBar {
    background-color:#EFE93E;
}

.r-1{
    color: white;
    background-color: #EF6461;
    border-color: #EF6461;
}

#sub-container{
    background-color: #EF6461;
}

@media (min-width: 576px) {
    
    #navBar{
        width: 25%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 75%;
        left: 25%;
    }

}

@media (min-width: 768px) {
    #navBar{
        width: 20%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 80%;
        left: 20%;
    }
}

@media (min-width: 992px) {
    #navBar{
        width: 15%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 85%;
        left: 15%;
    }
}


