@media (min-width: 576px) {
    #navBar{
        width: 25%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 75%;
        left: 25%;
    }
}

@media (min-width: 768px) {
    #navBar{
        width: 20%;
    }

    #main-container {
        width: 80%;
        left: 20%;
    }
}
@media (min-width: 992px) {
    #navBar{
        width: 15%;
    }

    #main-container {
        width: 85%;
        left: 15%;
    }
}


.imgCard {
    height: 250px;
}

.logoImg {
    max-width: 120px;
}

body{
    background-color:#F4E285;
    min-width: 400px;
}

.btn{
    background-color: #33B56A;
    border-color: #33B56A;
}

.g-1 {
    color:#F4E285;
}

#navBar {
    background-color:#EFE93E;
}

.y-1{
    color:#EFE93E;
}

.recipe-cards{
    background-color: #EF6461;
}

.r-1 {
    color: white;
    background-color: #EF6461;
    border-color: #EF6461;
}

.b-1 {
    background-color: #88CCf1;
}
