body{
    background-color:#F4E285;
}
.btn{
    background-color: #33B56A

}

#sideNav {
    
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#EFE93E;
    overflow-x: hidden;
    padding-top: 20px;
}
    .navbar-toggler{
        width: 40px;
        height: 30px;
        padding: 0px;
        border-radius: 5px;
    }

#content-board{
    background-image: url(./IMG_4171.JPG);
}
#favrecipe{
    margin-left: 180px;
}
    #recipe-cards{
        background-color: #EF6461;
    }