
body{
background-color:#F4E285;
}
#content-board{
    background-image: url(./IMG_4171.JPG);
}
.btn{
    background-color: #33B56A
}
.r-1{
    color: white;
    background-color: #ef6461;
    border-color: #ef6461;
    
}
#favrecipe{
    margin-left: 10px;
}
#description{
    margin-left: 10px;
}


@media (min-width: 576px) {
    
    #sideNav{
        background-color:#EFE93E;
        width: 25%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #content {
        position: relative;
        width: 75%;
        left: 25%;
    }

}

@media (min-width: 768px) {
    #sideNav{
        background-color:#EFE93E;
        width: 25%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #content {
        position: relative;
        width: 75%;
        left: 25%;
    }
}

@media (min-width: 992px) {
    #sideNav{
        background-color:#EFE93E;
        width: 15%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #content {
        position: relative;
        width: 85%;
        left: 15%;
    }
}
@media (min-width: 1200px) {
    #sideNav{
        background-color:#EFE93E;
        width: 15%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #content {
        position: relative;
        width: 85%;
        left: 15%;
        padding-right: 15px;
    }
}

