html {
    font-family: Helevetica, sans-serif;
    text-align: center;
}

h1 {
    color:#33B56A;
    text-shadow: 1px 1px black;
}
p {
    color: #000;
    
}

input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    text-align: center;
    width: 400px;
    height: 20px;
    font-size: 20px;
    border: 2px solid #EF6461;
}
input:focus {
    outline: none;
}
li {
    text-align: left; 
    font-size: 30px;
    list-style: none;
    margin: 0;
    color: #EF6461 ;
}
li:hover {
    text-decoration: line-through;
    color: #33B56A;
}






@media (min-width: 576px) {
    #navBar{
        width: 25%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 75%;
        left: 25%;
    }

    .w-sm-25{
        width: 25%;
    }

    .w-sm-50{
        width: 50%;
    }

    .w-sm-75{
        width: 75%;
    }

    .w-sm-100{
        width: 100%;
    }

}

@media (min-width: 768px) {
    #navBar{
        width: 20%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 80%;
        left: 20%;
    }

    .w-md-25{
        width: 25%;
    }

    .w-md-50{
        width: 50%;
    }

    .w-md-75{
        width: 75%;
    }

    .w-md-100{
        width: 100%;
    }
}
@media (min-width: 992px) {
    #navBar{
        width: 15%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    #main-container {
        position: relative;
        width: 85%;
        left: 15%;
    }

    .w-lg-25{
        width: 25%;
    }

    .w-lg-50{
        width: 50%;
    }

    .w-lg-75{
        width: 75%;
    }

    .w-lg-100{
        width: 100%;
    }
}


.imgCard {
    height: 250px;
}

body{
    background-color:#F4E285;
    min-width: 400px;
}

.btn{
    background-color: #33B56A;
    border-color: #33B56A;
}


#navBar {
    background-color:#EFE93E;
}

.recipe-cards{
    background-color: #EF6461;
}

.r-1{
    color: white;
    background-color: #EF6461;
    border-color: #EF6461;
}
.bblue {
    background-color: #88CCf1;
}